@font-face {
	font-family: 'SG09';
	src:url('../fonts/SG09.ttf');
}
@font-face {
	font-family: 'Pixeboy';
	src:url('../fonts/Pixeboy.ttf');
}

html,body {
	width: 100%; height: 100%;
	text-align:center;
	/* font-family: "Zpix", "Press Start 2P", "Arial"; */
	font-family: "SG09", "Pixeboy", "Press Start 2P", "Microsoft YaHei", "Zpix", "Arial";
}

table {	border-color: red; }

.objectBox{
	border: 1px dashed #ffff00;
	background-color: rgba(0,0,0,0.5);
	font-size: 100%;
	position: absolute;
	padding-left: 5px;
	text-align: left;
	opacity: 0.6;
}
.objectID {
	color: #dddddd;
}
.objectValue {
	color: rgba(0,255,255,0.8);
}
.objectItem {
	white-space: nowrap;
	/* display: none; */
	opacity: 0.6;
}

.objectBox:hover {
	/* border: 2px dashed #ffff00; */
	/* border: 2px solid #ffff00; */
	background-color: rgba(0,0,0,0.4);
	text-shadow: #000000 2px 0 0, #000000 0 2px 0, #000000 -2px 0 0, #000000 0 -2px 0;
	opacity: 1;
}
.objectBox:hover .objectItem {
	/* display: inline; */
	opacity: 1;
}
.objectBox:hover .objectID {
	color: #eeeeee;
}
.objectBox:hover .objectValue {
	color: #00ffff;
}

#picFileName {
	opacity: 0.7;
}
#picFileName:hover {
	opacity: 1;
}

#alertMsg {
	display: none;
	width: 300px;
	height: 30px;
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0,0,222,0.5);
}

/* 以下用于图片尺寸设定 以及（水平＆垂直）居中 */
/* #imagePre {
	max-width: 500px; max-height: 500px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
} */